@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YekanBakh-Regular";
  src: url('../src/project-Store/assets/fonts/YekanBakh-Regular.ttf');
}

@font-face {
  font-family: "YekanBakh-Bold";
  src: url('../src/project-Store/assets/fonts/YekanBakh-Bold.ttf');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: #FBFBFB;
  font-family: 'YekanBakh-Regular';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #cd8fce;
}

::-webkit-scrollbar-thumb {
  background: #9002d0;
  /* رنگ نوار اسکرول */
  border-radius: 50px;
}


::-webkit-scrollbar-thumb:hover {
  box-shadow: 0px 20px 20px 0px rgba(111, 66, 193, 10);
}

@keyframes slide-in {  
  from {  
    transform: translateY(-20px);  
    opacity: 0;  
  }  
  to {  
    transform: translateY(0);  
    opacity: 1;  
  }  
}  

.slide-up {  
  animation: slide-in 0.5s ease-out backwards; /* زمان و نوع انیمیشن را بر اساس نیاز خود تنظیم کنید */  
}